version: '3.8'
services:
  mysql:
    image: mysql:8.0
    container_name: aitrics-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root_password
      MYSQL_DATABASE: aitrics_db
      MYSQL_USER: aitrics
      MYSQL_PASSWORD: aitrics1234!
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 5s
      retries: 5
  api-server:
    build:
      context: .           # 현재 폴더(루트)를 기준으로 빌드
      dockerfile: Dockerfile # 루트에 있는 Dockerfile 사용
    container_name: aitrics-api
    depends_on:
      mysql:
        condition: service_healthy
    environment:
      - SERVICE_TYPE=dev
      - SERVER_NAME=aitrics-vital-sings-api
      - SERVER_PORT=8080
      - DB_HOST=mysql
      - DB_PORT=3306
      - DB_NAME=aitrics_db
      - DB_USER=aitrics
      - DB_PASSWORD=aitrics1234!
      - LOG_LEVEL=debug
      - TOKEN=aitrics-token
    ports:
      - "8080:8080"
    restart: on-failure
volumes:
  mysql_data: